@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #ffffff;
  --netflix-red: #e50914;
  --netflix-red-hover: #b80710;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}

/* Custom Netflix Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
